In [5]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import entropy
from scipy.stats import norm
from scipy.stats import poisson

In [2]:
def js(p, q):
    p1 = p / np.linalg.norm(p, ord=1)
    q1 = q / np.linalg.norm(q, ord=1)
    m = 0.5 * (p1 + q1)
    r = 0.5 * (entropy(p1, m) + entropy(q1, m))
    return r

In [4]:
whData = pd.read_csv('weight-height.csv')
whData.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [7]:
ideal = norm.rvs(size = len(whData['Height']), loc=whData['Height'].mean(), scale=whData['Height'].std())
icount, idevision = np.histogram(ideal, bins=100)

In [8]:
count, devision = np.histogram(whData['Height'], bins=100)

In [9]:
js(count, icount)

np.float64(0.0178383194263709)

In [12]:
wsData = pd.read_csv('wind_speed_laurel_nebraska.csv') 
wsData.head()

   10 Min Std Dev              Time  10 Min Sampled Avg
0            2.73  2001-06-11 11:00                22.3
1            1.98  2001-06-11 11:10                23.0
2            1.87  2001-06-11 11:20                23.3
3            2.03  2001-06-11 11:30                22.0
4            3.10  2001-06-11 11:40                20.5